/* Put your CSS here */
.ember-application {
    margin: 20px;
}
body{
  background:url('../imgs/body_bg.png');
  background-repeat: repeat;
  background-size: 100%;
}
#main {
  width: 750px;
  height: 600px;
  margin: 0 auto;
  padding-left: 10px;
  background-color: white;
}
#teams_container {
  width: 25%;
  height: 77%;
  float: left;
}
.team {
  width: 100%;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 2px;
  background-color: DeepSkyBlue;
  color: white;
  font-size: 1.1em;
}
.team:hover {
  background-color: #3D3D3D;
}


#team_info {
  width: 73%;
  height: 77%;
  float: left;
  margin-left: 10px;
  text-align: center;
}

#players_container {
  width: 48%;
  height: 100%;
  margin-right: 5px;
  float:left;
}
#player_info {
  float: right;
  width: 50%;
  height: 100%;
}
.player_pic {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
}
#player_title{
  font-size: 1.4em;
}
#logo{
  width: 15%;
  height: 15%;
}
#bg-opacity{
  background: rgba(0, 0, 0, 0.5);
}
.shot {
  margin: 0 auto;
  margin-bottom: 5px;
  display: block;
}
#add_player, #add_team {
  margin-top: 50px;
  float: left;
  position: fixed;
  bottom: 240px;

}
input#new-player, input#new-team {
  float: left;
  width: 150px;
}
#add_player h5 {
  margin-left: -80px;
}
.player {
  width: 175px;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 2px;
  background-color: DeepSkyBlue;
  color: white;
  font-size: 1.2em;
}
.player:hover{
  background-color: #3D3D3D;
}

.team_pic {
  width: 125px;
  height: 125px;
}

#boom {
  margin-top: -100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 750px;
}

.shot_0 {
  float: left;
  margin-left: 5px;
  background-color: #3872C2;
  color: white;
  font-size: 1.2em;
  padding: 10px 15px 10px 15px;
}
.shot_1 {
  float: left;
  margin-left: 3px;
  background-color: #cc3333;
  color: white;
  font-size: 1.2em;
  padding: 10px 18px 10px 18px;
}
.shot_2 {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #cc3333;
  color: white;
  font-size: 1.2em;
  padding: 10px 22px 10px 22px;
}
.shot_3 {
  float: left;
  margin-top: 10px;
  margin-left: 3px;
  background-color: #cc3333;
  color: white;
  font-size: 1.2em;
  padding: 10px 12px 10px 12px;
}
#total {
  font-size: 1.2em;
  text-decoration: bold;
}
#total_label {
  font-size: 1.4em;
  text-decoration: bold;
}
