/* Put your CSS here */
.ember-application {
    margin: 20px;
}
#main {
  width: 650px;
  height: 500px;
  margin: 0 auto;
  border: 1px orange dashed;
  padding-left: 10px;
}
.team {
  width: 100%;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 2px;
  background-color: DeepSkyBlue;
  color: white;
  font-size: 1.1em;
  border: 1px black dashed;
}


#teams_container {
  width: 25%;
  height: 87%;
  float: left;
  border: 1px green dashed;
}

#team_info {
  width: 30%;
  height: 87%;
  float: left;
  margin-left: 25px;
  text-align: center;
  border: 1px green dashed;
}
